[MASTER]
jobs=2
ignore-paths=(?!(src|tests))/*

[FORMAT]
max-line-length = 130

[DESIGN]
max-args = 22
max-attributes = 22
max-bool-expr = 21
max-branches = 83
max-locals = 52
max-module-lines = 4000
max-nested-blocks = 8
max-positional-arguments = 22
max-public-methods = 537
max-returns = 7
max-statements = 180

[MESSAGES CONTROL]
disable=
	I,
	# E
	import-error, #15
	no-member, #69
	unsubscriptable-object, #2keep
	# W
	abstract-method, #4keep
	attribute-defined-outside-init, #79
	fixme, #24
	global-statement, #7
	possibly-unused-variable, #14
	protected-access, #39
	redefined-outer-name, #20
	unused-argument, #29
	unused-variable, #24
	unused-wildcard-import, #2keep
	wildcard-import, #2keep
	# C
	import-outside-toplevel, #34
	invalid-name, #1034
	missing-docstring, #keep
	superfluous-parens, #13
	use-implicit-booleaness-not-comparison-to-zero, #29
	wrong-import-position, #3keep
	# R
	cyclic-import, #5keep
	duplicate-code, #keep
	no-else-return, #33
	stop-iteration-return, #2keep
	too-few-public-methods, #19
